/* work sans font from google  */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');


*{font-family: 'Work Sans', sans-serif;}


*{
    margin: 0;
    padding: 0;
}
/* primary styles  */

.btn-primary{
    border-radius: 8px;
background: #FF900E;

color: white;
border: none;
font-size: 1.25rem;
padding: 15px 20px;
cursor: pointer;
}



/* header style  */

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding:50px 240px;
}


.nav-title{
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul > li {
    margin-right: 30px;
    list-style: none;
}

ul{
  display: flex;
    list-style: none;
    margin-right: 20px;
}

li > a {
text-decoration: none;
font-weight: 500;
font-size: 1.25rem;
}


/* banner  */

.Banner-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.Banner-title{
    color: var(--dark-01, #131313);
text-align: center;
font-size: 5rem;
font-weight: 700;

margin-top: 50px;

}

.Banner-Description{
    color: var(--dark-03, #727272);
    margin: 20px 0;

font-size: 16px;


}

.Banner img{
    width: 100%;
    margin-top: 20px;

}
/* featured section  */
.facts-title-2{
    color: #131313;
font-size: 2.25rem;
border-left:5px solid orange;


font-weight: 600;
}

main{
    margin: 60px 20px;
}

.main-featurd-content{
    display: flex;
    margin-top: 250px;
    gap: 50px;
}
.featured-content{
    padding: 20px;
    width: 556px;

border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.featured-content .cards{

    width: 586px;
height:171px;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-title{
    color: #131313;
font-size: 1.25rem;

font-weight: 600;

}

.Badge{
    border-radius: 8px;
background: #FF900E;
width: 342px;
padding: 40px;
color: #FFF;
position: relative;
bottom: 130px;
right: 50px;
}

.Badge h2{
    font-size: 4rem;
   
}







/* teams style  */

.team-container{
    display: flex;
    align-items: center;
 
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.team-title{
    color: var(--dark-03, #727272);

font-size: 2.5rem;

font-weight: 500;

}

.team-title-paragraph{
    color: var(--dark-03, #727272);

font-size: 1rem;

font-weight: 400;

}

.team-description{
    padding-left: 60px;
}

#Quick{
    color: var(--dark-03, #727272);
font-size: 45px;
font-weight: 500;
}
#Our{
    color: #131313;
    font-size: 45px;
    font-weight: 500;
}
#Features{
    color: #FF900E;

font-size: 45px;

font-weight: 700;
line-height: normal;
}

.team-title-paragraph{
    color: var(--dark-03, #727272);
margin: 20px 0;
font-size: 16px;


}
/* facts section  */


.facts-title{
    color: #131313;
font-size : 2.5rem;
font-weight: 700;
margin: 10px 10px;

}
.facts-paragraph{
    color:#727272;

font-size: 1rem;

font-weight: 400;
margin: 20px 10px;

}



.facts-card{
    display:flex;
    justify-content: space-between;
    gap: 40px;
}

.card{
    border-radius: 8px;
border: 1px solid #FF900E;
padding: 80px;
align-items: center;
}
.card-headline{
    color: #424242;

font-size: 2.5rem;

font-weight: 600;

}
.card-title{
    color:  #727272;

font-size : 1.25rem ;
font-weight : 600px

}


/* spponsors  */

.sponsors{
    text-align: center;
    margin-top: 50px;
}

.sponsor-img{
    display: flex;
    justify-content:space-around;
    /* margin-top: 40px; */
}

.footer{
    margin: 0 auto;
    width: 800;
height: 100px;
border-radius: 8px;
background: #FFF4E7;
margin-top: 30px;
}
.footer-paragraph{
    color: #424242;

font-size: 20px;
font-weight: 400;
text-align: center;
padding-top: 50px;
}










/* mediaa query  */

@media  screen and (max-width:576px) {
    header{
        padding:10px;
    } 
    nav{
        flex-direction: column;
    }

    .Banner-content{
        width: 100%;
        text-align: center;
       
    }
    .nav-title{
        font-size: 3rem;
        padding-bottom: 20px;
   
    }

/* main  */





.Badge{
    position: static;
    height:100px;
    width:auto
}

.img{
    width:100%;
}

.main-featurd-content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}


.team-container{
    display: flex;
   flex-direction: column;

  
 
}
.team-img-container{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
}

.facts-card{
    display:flex;
    flex-direction: column;
    margin: 5px;
}
/* sponsor  */
.sponsor-img{
    display: flex;
   flex-direction: column;
    margin-top: 40px;
    align-items: center;

  
}

.sponsor-img img{
width: 170px;
margin: 30px 10px;
} 
}

@media  screen and (min-width:576px) and (max-width:960px) {

    nav{
        flex-direction: column;
    }
    header{
        padding:50px;
    } 
    .Banner-content{
        width: 100%;
        text-align: center;
       
    }
    .main-featurd-content{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 50px;
    }
    .team-container{
        display: flex;
       flex-direction: column;
    
      
     
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }

    .team-title{
        align-items: center;
    }
    .facts-card{
        display:flex;
        flex-direction:column;
        margin: 25px;
    }

/* sponsor  */
.sponsor-img{
    display: flex;
   flex-direction: column;
    margin-top: 40px;
    align-items: center;

  
}

.sponsor-img img{
width: 170px;
margin: 30px 10px;
} 
}

   

